body {
    background-color: rgba(0, 226, 255, 0.25);
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#stem-1{
    width: 1rem;
    height: 30rem;
    background-color: red;
    bottom: 0;
    animation: stemGrowing 2.5s 1;
    position: absolute;
    border-radius: 25%;
    border: solid #29b129 2px;
}

.petal{
    background-color: blue;
    width: 10rem;
    height: 15rem;
    border-radius: 20% 20% 50% 50%;
    box-shadow: #5454ff 0 0 0 5px;
    position: absolute;
    animation: flowerGrowing 3s 1 forwards;
}

#flower-1{
    position: relative;
    animation: flowerRaising 3s 1;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10rem;
}

@keyframes stemGrowing{
    from{
        height: 0;
    }
    to{
        height: 30rem;
    }
}

@keyframes flowerRaising{
    from{
        bottom: -17rem;
    }
    to{
        bottom: 10rem;
    }
}

@keyframes flowerGrowing{
    from{
        width: 0;
        height: 0;
    }
    to{
        height: 15rem;
        width: 10rem;
    }
}




